---
Checks: >
  *,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,
  -abseil-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-owning-memory,
  -misc-no-recursion,
  -readability-function-cognitive-complexity,
  -misc-use-internal-linkage,
  -bugprone-exception-escape

WarningsAsErrors: '*'
HeaderFilterRegex: 'include/.*\.hpp$'
FormatStyle: file

CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.ConstantCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
