package {{package_name}};

import static org.assertj.core.api.Assertions.assertThatCode;

import org.junit.jupiter.api.Test;

/** Tests for {@link Main}. */
class MainTest {

  @Test
  void mainRunsWithoutError() {
    assertThatCode(() -> Main.main(new String[] {})).doesNotThrowAnyException();
  }
}
